@charset "UTF-8";

@media screen and (min-width: 768px) and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #002855, #33415c);
    }

    #login {
        width: 70vw;
        height: 290px;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #002855, #33415c);
    }

    #login {
        width: 950px;
        height: 360px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #form {
        float: left;
        width: 50%;
    }

    #form h1 {
        font-size: 2em;
    }

    #form p {
        font-size: 1.2em;
        margin: 10px 0px;
    }
}