@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --azul1: #33415c;
    --azul2: #001845;
    --azul3: #002855;
    --cinza1: #33415c;
    --cinza2: #5c677d;
    --cinza3: #7d8597;
}

body {
    background-color: var(--azul3);
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
    background-color: var(--cinza3);
    color: var(--azul3);
    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

#imagem {
    display: block;
    background: var(--azul3) url(../imagens/pexels-lucas-meneses-6144091.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 13rem;
}

#form {
    display: block;
    padding: 10px;
}

#form h1 {
    text-align: center;
    margin-bottom: 10px;
}

#form p {
    font-size: 0.8em;
}

.campo {
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid var(--azul3);
}

.campo span {
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input {
    background-color: #63666b;
    border: none;
    color: var(--azul3);
    font-size: 0.9em;
    height: 100%;
    width: calc(100% - 45px);
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-13px);
    /* Deixar a animação/tranformação, sempre como último elemento */
}

.campo > input:focus-within {
    background-color: #8e8f92;
}

.campo label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--azul3);
    color: var(--cinza3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #003572;
    color: var(--cinza2);
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: var(--cinza2);
    color: var(--azul3);
    border: 1px solid var(--cinza2);
    border-radius: 5px;
    text-decoration: none;
}

.botao:hover {
    background-color: #6b778d;
}

.botao > span {
    font-size: 1.3em;
    padding-left: 5px;
}